@model IEnumerable<TaramaMVC.Models.AnaBilimDali>

@{
    ViewData["Title"] = "AnaBilimDalları";
    int RowNo = 0;
}
<div class="container-sm">
  
    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover table-striped align-center">
            <thead class="table-light">
                <tr>
                    <th class="text-sm-start align-middle">
                        @Html.Label("SıraNo")
                    </th>
                    <th class="text-sm-start align-middle">
                        @Html.Label("Ana Bilim Dalları")
                    </th>
                    <th class="align-middle">
                        <div class="d-inline-flex">
                            <a asp-action="Create" class="form-control btn btn-light ">
                                <svg class="bi me-2 mx-auto mb-1" width="16" height="16"><use xlink:href="#create1" /></svg>
            Yeni Kayıt
        </a>
    </div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @{
                                RowNo++;
                            } @RowNo
                        </td>
                        <td class="align-middle" >
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#view1" /></svg>İncele
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#edit1" /></svg>Düzenle
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#delete1" /></svg>Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*
<div class="container-sm">
    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover table-striped align-middle">
            <thead class="table-light">
        <tr>
                    <th>
                        @Html.Label("Sıra No")
                    </th>
                    <th>
                        @Html.Label("Ana Bilim Dalları")
                    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

         
                        <td>
                            @{
                                RowNo++;
                            } @RowNo
                        </td>
            <td>
                            @Html.DisplayFor(modelItem => item.Name)
            </td>
                    <td>
                        <div class="btn-group btn-group-justified">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#view1" /></svg>İncele
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#edit1" /></svg>Düzenle
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#delete1" /></svg>Sil
                                </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
*@