@model TaramaMVC.Models.PersonelYayinBilgileri

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alinti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alinti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
    <div class="row">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Düzenle</a> |
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </div>
</div>