@model IEnumerable<TaramaMVC.Models.PersonelYayinBilgileri>

@{
    ViewData["Title"] = "Personel Yayın Bilgileri";
    int RowNo = 0;
}



@*<p>
    <a asp-action="Create">Create New</a>class="align-middle"
</p>*@
<div class="container">
    <div class="table-responsive">
        <table id="tblliste" class="table table-bordered table-hover table-striped">
            <thead class="table-light align-middle">
        <tr>
                    <th>
                        @Html.Label("SıraNo")
                    </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.BaslikCites)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alinti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personel.ScholarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                        <td>
                            @{
                                RowNo++;
                            } @RowNo
                        </td>
                        <td>
                   
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
             <a href=@item.BaslikCites target="_blank">Alıntılanan Makale </a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alinti)
            </td>
                        <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Yil)
            </td>
                <td >
                             
                            <input asp-for=@item.PersonelId class="form-control" asp-items="ViewBag.PersonelId" placeholder="ScholarName" readonly/>

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                            <div class="btn-group btn-group-justified">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#view1" /></svg>İncele
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#edit1" /></svg>Düzenle
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-block">
                                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#delete1" /></svg>Sil
                                </a>
                            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>

<script>
    $(document).ready(function () {
        $('#tblliste').DataTable();
    });

</script>
@section Scripts
{
   @* <script src="~/js/datatables/js/jquery.dataTables.min.js"></script>*@
   
}
