@model TaramaMVC.Models.Personel

@{
    ViewData["Title"] = "Akademik Personel Detayları";
}

<div class="container">
 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaBilimDallari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaBilimDallari.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScholarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScholarName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>

<div class="row">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary" >Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary" >Geri Dön</a>
</div>
</div>