@model IEnumerable<TaramaMVC.Models.Personel>

@{
    ViewData["Title"] = "Akademik Kadromuz";
    int RowNo = 0;
}

<div class="text-xxl-start md-2 mt-2">

@*<a class="btn btn-secondary btn-sm" asp-area="" asp-controller="Personeller" asp-action="Getir">Akademik Personel Güncelle</a>
*@
    <a class="btn btn-secondary btn-sm" asp-area="" asp-controller="Personeller" asp-action="VeriGuncelle">Akademik Yayın Güncelle</a>
     <a class="btn btn-secondary btn-sm" asp-area="" asp-controller="Personeller" asp-action="VerileriSil">Akademik Yayınları Sil</a>
</div>
<table class="table table-bordered table-hover table-striped md-2 mt-2">
    <thead>
        <tr>
            <th>
                @Html.Label("Sıra No")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDallari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScholarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alintilanma)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@{
                        RowNo++;
                    } @RowNo</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AnaBilimDallari.Name)
            </td>
                <td>
                    <a href="https://scholar.google.com/citations?hl=tr&view_op=search_authors&mauthors=@item.ScholarName" target="_blank">@Html.DisplayFor(modelItem => item.ScholarName)</a>
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alintilanma)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
