@model IEnumerable<TaramaMVC.Models.YayinAlintiBilgisi>

@{
    ViewData["Title"] = "Index";
    int RowNo = 0;
}
<div class="Container">
<div class="Row">
    <a asp-action="Create" class="btn btn-secondary">Create a User</a>
</div>
<div class="Row">
<div class="table-responsive">   
<table id="tblliste" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.Label("SıraNo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @{
                        RowNo++;
                    } @RowNo
                </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.YayinId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('#tblliste').DataTable();
    });

</script>