@model IEnumerable<TaramaMVC.Models.YayinAlintiBilgisi>

@{
    Layout = "~/Views/Shared/_Layout_x.cshtml";
    ViewData["Title"] = "Yayın Alıntı Bilgileri";
    int RowNo = 0;
}
<div class="Container-sm">
 
<div class="table-responsive">   
<table id="tblliste" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.Label("SıraNo")
            </th>
                        <th>
                            @Html.Label("YayınID")
                           @* @Html.DisplayNameFor(model => model.personelYayinBilgileriId)*@
            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.personelYayinBilgileri.Personel.ScholarName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.personelYayinBilgileri.Baslik)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ad)
                        </th>
                        <th>
                            @Html.Label("SID")
                        </th>
                        <th>
                            @Html.Label("PublicationInfo")
                        </th>
                        <th>
                            @Html.Label("Snippet")
                        </th>
                        <th>
                            @Html.Label("Link")
                        </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @{
                        RowNo++;
                    } @RowNo
                </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.personelYayinBilgileriId)
            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.personelYayinBilgileri.Personel.ScholarName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.personelYayinBilgileri.Baslik)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ad)
                            </td>
                            <td>
                                <a target="_blank" href=@String.Format("https://scholar.google.com/scholar?q=info:{0}:scholar.google.com/&output=cite&hl=tr",item.SID)> @Html.DisplayFor(modelItem => item.SID)</a>  
                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublicationInfo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Snippet)
                            </td>
                            <td>
                                <a target="_blank" href=@String.Format("{0}",item.Link)> Link)</a>
                            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
           
            <td>
                                <div class="btn-group btn-group-justified">
                        
                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <div class="col">
                                    <div class="row md-3 mt-3">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn btn-block bg-warning">
                                                <svg class="bi me-2 mx-auto mb-1" width="16" height="16"><use xlink:href="#edit1" /></svg>Düzenle
                                    </a>
                                    </div>
                                        <div class="row md-3 mt-3">
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn btn-block bg-danger">
                                                <svg class="bi me-2 mx-auto mb-1" width="16" height="16"><use xlink:href="#delete1" /></svg>Sil
                                    </a>
                                    </div>
                                    </div>
                                }
                                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
 
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#tblliste').DataTable({
            //"scrollY": "600px",
            "scrollX": true,
            responsive: true,
            dom: 'Bfrtip',
            lengthMenu: [
                [25, 50, 100, 500, 1000, -1],
                ['İlk 25', 'İlk 50', 'İlk 100', 'İlk 500', 'İlk 1000', 'Hepsi']
            ],
            buttons: [
                'pageLength',
                'excel',
                'pdf',


            ]

        });

        table.buttons().container()
            .appendTo($('.col-4', table.table().container()));
    });


</script>

